In [1]:
import numpy as np
import pandas as pd

In [19]:
df = pd.DataFrame([['Jorge','Garcia','Perez'],['Pepe','Ramos',6]],columns=['FN','LN1','LN2'], index=['a','b'])

In [20]:
df

      FN     LN1    LN2
a  Jorge  Garcia  Perez
b   Pepe   Ramos      6

In [12]:
data

array([[ 1.86162076,  0.01303227, -0.55251903],
       [ 0.7466343 , -0.73314825,  1.36911348]])

In [21]:
df1 = pd.DataFrame(['100','200','300','400'], index=['a','b','c','d'], columns=['A'])

In [22]:
df1

     A
a  100
b  200
c  300
d  400

In [23]:
c = pd.Series([250,150,50], index = ['b','d','c'])

In [24]:
df1['C'] = c

In [25]:
df2['C'] = c

NameError: name 'df2' is not defined

In [28]:
data = np.array(([1,2,3],[4,5,6]))

In [29]:
data

array([[1, 2, 3],
       [4, 5, 6]])

In [47]:
df1 = pd.DataFrame(data, index=['a','b'])

In [54]:
df1.loc['a']

0    1
1    2
2    3
Name: a, dtype: int64

In [32]:
df1

   0  1  2
0  1  2  3
1  4  5  6

In [34]:
df1[0]

0    1
1    4
Name: 0, dtype: int64

In [36]:
df.iloc[0]

FN      Jorge
LN1    Garcia
LN2     Perez
Name: a, dtype: object

In [37]:
class HumanBeing(object):
    def __init__(self,first_name, eye_color):
        self.first_name = first_name
        self.eye_color = eye_color
        self.position = 0
    def walk_steps(self, steps):
        self.position += steps

In [38]:
Sandra = HumanBeing('Sandra', 'blue')

In [39]:
Sandra.first_name

'Sandra'

In [43]:
Sandra.position

2

In [42]:
Sandra.walk_steps(2)

In [45]:
HumanBeing.walk_steps(Sandra, 2)

In [46]:
Sandra.position

4

In [56]:
a = np.arange(16).reshape(4,4)

In [57]:
df = pd.DataFrame(a, columns=list('abcd'))

In [58]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [59]:
df['a']

0     0
1     4
2     8
3    12
Name: a, dtype: int64

In [60]:
type(df)

pandas.core.frame.DataFrame

In [62]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [63]:
df.cumsum()

    a   b   c   d
0   0   1   2   3
1   4   6   8  10
2  12  15  18  21
3  24  28  32  36

In [72]:
class FinancialInstrument(object):
    author = 'Jorge GP'
    def __init__(self, symbol, price):
        self.symbol = symbol
        self.price = price

In [73]:
aapl = FinancialInstrument('AAPL', 100)

In [75]:
str(aapl)

'<__main__.FinancialInstrument object at 0x11371a910>'

In [67]:
fi.price

100